<<script src="https://kit.fontawesome.com/3ebeec4ad6.js" crossorigin="anonymous"></script>
<link:cs></link:cs>
<style>
    ul {
        min-width: 696px;
        list-style: none;
        padding-top: 20px;
        }
        ul li {
            display: inline;
            margin-left:10px;
        }
</style>
<header style="direction:rtl;">
   <ul >
    <li><a href="home"><i class="fas fa-home"></i>خانه</a></li>
    <li><a href="contact"><i class="fas fa-address-book"></i>تماس با ما</a></li>
    <li><a href="about"><i class="fas fa-info"></i>درباره ما</a></li>
   </ul>
</header>